/* Background and layout for content */
.content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    animation: fadeIn 2s ease-in-out;
}

/* Main container */
.abs-workout-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20vh;
}

/* Title styling */
.title {
    text-align: center;
    font-size: 2.5rem;
    color: #363636;
    margin-bottom: 20px;
}

/* Image styling */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.workout-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

/* Description styling */
.description {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
}

/* Content section */
.content-section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Workout Routine */
.workout-routine {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workout-routine h2 {
    color: #363636;
}

.workout-routine ul {
    list-style: disc inside;
    margin-top: 10px;
    padding-left: 10px;
}

.workout-routine li {
    margin-bottom: 5px;
    line-height: 1.5;
}

/* Workout Benefits */
.workout-benefits {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workout-benefits h2 {
    color: #363636;
}

.workout-benefits p {
    margin: 5px 0;
    line-height: 1.5;
    font-weight: bold;
}

/* Workout Instructions */
.workout-instructions {
    margin-top: 30px;
    text-align: center;
}

.workout-instructions h2 {
    color: #363636;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

/* Video */
.video-container iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-section {
        grid-template-columns: 1fr;
    }

    .video-container iframe {
        height: 300px;
    }
}
